### Importação dos dados

In [36]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [33]:
faturamento_total = {
    'loja 1': loja['Preço'].sum(),
    'loja 2': loja2['Preço'].sum(),
    'loja 3': loja3['Preço'].sum(),
    'loja 4': loja4['Preço'].sum()
}

for loja, faturamento in faturamento_total.items():
    print(f'O faturamento total da {loja} foi de R${faturamento:.2f}')

O faturamento total da loja 1 foi de R$1534509.12
O faturamento total da loja 2 foi de R$1488459.06
O faturamento total da loja 3 foi de R$1464025.03
O faturamento total da loja 4 foi de R$1384497.58

# 2. Vendas por Categoria

In [41]:
def vendas_por_categoria(loja_df):
    loja_df.columns = loja_df.columns.str.strip()
    categorias = loja_df['Categoria do Produto']
    contagem = {}

    for categoria in categorias:
        if categoria in contagem:
            contagem[categoria] += 1
        else:
            contagem[categoria] = 1
    return contagem

vendas_loja1 = vendas_por_categoria(loja)
vendas_loja2 = vendas_por_categoria(loja2)
vendas_loja3 = vendas_por_categoria(loja3)
vendas_loja4 = vendas_por_categoria(loja4)

vendas_lojas = [vendas_loja1, vendas_loja2, vendas_loja3, vendas_loja4]

for i, vendas in enumerate(vendas_lojas, start=1):
    print(f"\nVendas por Categoria (Loja {i}):")
    for categoria, quantidade in vendas.items():
        print(f"{categoria}: {quantidade}")

Vendas por Categoria (Loja 1):
eletronicos: 448
moveis: 465
brinquedos: 324
eletrodomesticos: 312
utilidades domesticas: 171
esporte e lazer: 284
livros: 173
instrumentos musicais: 182

Vendas por Categoria (Loja 2):
moveis: 442
instrumentos musicais: 224
esporte e lazer: 275
eletronicos: 422
utilidades domesticas: 181
brinquedos: 313
eletrodomesticos: 305
livros: 197

Vendas por Categoria (Loja 3):
eletrodomesticos: 278
moveis: 499
instrumentos musicais: 177
esporte e lazer: 277
eletronicos: 451
brinquedos: 315
utilidades domesticas: 177
livros: 185

Vendas por Categoria (Loja 4):
eletrodomesticos: 254
moveis: 480
esporte e lazer: 277
livros: 187
eletronicos: 451
instrumentos musicais: 170
brinquedos: 338
utilidades domesticas: 201

# 3. Média de Avaliação das Lojas

In [42]:
def calc_Avaliacao(df: pd.DataFrame) -> float:
    try:
        avaliacao = round(df['Avaliação da compra'].mean(), 2)
        return avaliacao
    except:
          print('Erro ao calcular a média da avaliação de compras')
          return 0.0

for nome, loja in zip(['loja 1', 'loja 2', 'loja 3', 'loja 4'], [loja, loja2, loja3, loja4]):
    print(f'A avaliação média da {nome} é de {calc_Avaliacao(loja)}')

A avaliação média da loja 1 é de 3.98
A avaliação média da loja 2 é de 4.04
A avaliação média da loja 3 é de 4.05
A avaliação média da loja 4 é de 4.0

# 4. Produtos Mais e Menos Vendidos

In [44]:
from collections import Counter

for i, loja_df in enumerate([loja, loja2, loja3, loja4], start=1):
    contagem = Counter(loja_df['Produto'])

    mais_vendido = contagem.most_common(1)[0]
    menos_vendido = min(contagem.items(), key=lambda x: x[1])

    print(f'\nLoja {i}:')
    print(f'Mais vendido: {mais_vendido[0]} ({mais_vendido[1]} unidades)')
    print(f'Menos vendido: {menos_vendido[0]} ({menos_vendido[1]} unidades)')

Loja 1:
Mais vendido: Cama box (62 unidades)
Menos vendido: Guitarra (33 unidades)

Loja 2:
Mais vendido: Iniciando em programação (65 unidades)
Menos vendido: Jogo de tabuleiro (32 unidades)

Loja 3:
Mais vendido: Kit banquetas (57 unidades)
Menos vendido: Blocos de montar (35 unidades)

Loja 4:
Mais vendido: Cama box (62 unidades)
Menos vendido: Guitarra (33 unidades)

# 5. Frete Médio por Loja